<div class="wrapper">
	<div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
		<div class="filter"></div>
		<div class="content-center">
			<div class="container">
				<div class="title-brand">
					<h1 class="presentation-title">Omachy</h1>
				</div>

				<h2 class="presentation-subtitle text-center">You can help...</h2>
			</div>
		</div>
	</div>
    <div class="main">
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Support</h3>
                          <br/>
                      </div>
                      More stuff about the game

                  </div>
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Art and Development</h3>
                          <br/>
                      </div>
                      Blah blah
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
